.div1{
background-color:green;
width:200px;
height:200px;
position:absolute;
right:0;
top:0;
box-sizing:border-box;
border-top:solid 100px red;
border-bottom:solid 100px white;
border-right:solid 100px red;
border-left:solid 100px white;
cursor: pointer;
}
.div2{
background-color:transparent;
width:150px;
height:150px;
position:absolute;
right:0;
top:0;
box-sizing:border-box;
border-top:solid 75px white;
border-bottom:solid 75px transparent;
border-right:solid 75px white;
border-left:solid 75px transparent;
cursor: pointer;
}
.div3{
position: absolute;
    margin-top: 4rem;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=0.45);
    right: 0;
cursor: pointer;
}
a{
text-decoration:none;
}
p.message{
color:white;
}